head
  link(rel="stylesheet", href="/css/userlist.css")
  title User List

block content
  .container
    .content 
      h2.user-list-title User List
      a.create-btn(href="/home/users/create") Add New User

    .user-grid 
      //- Header
      .grid-header
        .header-item ID
        .header-item Full Name
        .header-item Age
        .header-item Email
        .header-item Hobbies
        .header-item Actions
      //- User list
      each user in users
        .user-row(data-user-id=user._id)
          .user-cell= user._id
          .user-cell= user.name
          .user-cell= user.age
          .user-cell= user.email
          .user-cell= user.hobbies.join(', ')
          .user-cell.actions
            a.edit-btn(href=`/home/users/${user._id}/edit`) Edit
            a.delete-btn(href=`/home/users/${user._id}/delete`) Delete
